
body{
    background-color: rgb(19, 88, 60);
    font: 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
h1{}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.360);
}
div{}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}

